@import "tailwindcss";
/* @tailwind base; */
@tailwind utilities;
/* @tailwind components; */


html, body, #root { height: 100%; }
body { background: #f8fafc; font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial }


/* small helpers */
.white-card { @apply bg-white rounded shadow p-4 }



